<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @registration.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @registration.surname %>
</p>

<p>
  <b>Student:</b>
  <%= @registration.student_id %>
</p>

<p>
  <b>Id no:</b>
  <%= @registration.id_no %>
</p>

<p>
  <b>Email:</b>
  <%= @registration.email %>
</p>

<p>
  <b>Password:</b>
  <%= @registration.password %>
</p>

<p>
  <b>Campus:</b>
  <%= @registration.campus %>
</p>

<%= link_to 'home', '/home/index' %>